body {
    
    font-family: 'Roboto', sans-serif;
    color: #ebdec2;
    margin: 0;
    background-color: #0C0C0C;
    /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f2f2f2' fill-opacity='0.74' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E"); */
}

#header {
    background-color: #211510;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    padding-bottom: 10px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    border: 1px solid #504137 ;
    position: fixed;
    margin: 0;
    display: flex;
    overflow-x: auto;
    top: 0;
}

.entete {
    display: flex;
    flex-direction: row;
    margin: 0px 20px 0px 20px;
    justify-content: center;
}

.logo{
    display: flex;
    width: 7%;
    margin: 10px 5px 0 5px;
}

.titre {
    display: flex;
}

#d1{
    background-color: #070404;
    border: 1px solid #504137 ;
    padding: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 18px;
    margin: 0 10px;
    padding-top: 10px;
    font-weight: bolder;
}

h3{
    font-size: 15px;
}

.illustration {
    margin: 0 20px 0 20px ;
}

li  img {
    justify-content: center;
    border-radius: 10px;
}

#type {
    margin-top: 10%;
    background-color: #070404;
    border: 1px solid #504137 ;
    text-align: center;
}

select {
    width: 100%;
    border: 1px solid #504137 ;
    padding: 10px 0 10px 0;
    color: #ebdec2;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    background-color: #070404;
    margin-top: 5px;
    max-width: 374px;
}

li{
    list-style:none;
}

#fort > img {
    width: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}
#sensible > img {
    width: 130px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px 0 5px 0;
}

.container {
    margin: 0px 20px 0 20px;
}

.container_flex {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 10px 20px;
}

.fort_contre {
    display: flex;
    background-color: #070C2C;
    width: 50%;
    text-align: center;
    margin-right: 5px;
    justify-content: center;
    padding-bottom: 20px;
    border: 1px solid #504137 ;

}

.sensible_a {
    display: flex;
    background-color: #320D04;
    width: 50%;
    text-align: center;
    margin-left: 5px;
    justify-content: center;
    padding-bottom: 20px;
    border: 1px solid #504137 ;
}

#imgHome {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

#imgHome > img {
    width: 50%;
}

.space{
    height: 80px;
}
.little_space{
    height: 30px;
}

.twitter{
    margin-bottom: 30px;
}

/* NAV BAR BOTTOM */
#nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    background-color: #211510;
    display: flex;
    overflow-x: auto;
    border-top: 1px solid #504137 ;

}

.nav__text {
    font-size: 13px;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #ebdec2;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #171717;
}

#nav__link--active {
    color: #F8B700;
}

.nav__icon {
    font-size: 18px;
}


@media screen and (max-width: 900px) {
  
    .conteneur{
        text-align: justify;
        margin: 0 50px 0 50px;
    }
} 

